## .NET / Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
*.csproj.user

# NuGet
**/[Pp]ackages/*
*.nupkg

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml